<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-uY_yCQnBnWSe1ZmgeQkO4hDO4gkVE_o</string>
	<key>GCM_SENDER_ID</key>
	<string>99853278928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kenji.Workout-Tracker</string>
	<key>PROJECT_ID</key>
	<string>workout-tracker-f2a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-tracker-f2a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99853278928:ios:56e7b78803f15cf06848d5</string>
</dict>
</plist>